main{
    margin: 30px;
}


h4, .card-text{
    margin-bottom: 20px;   
}


img{
    width: 100%;
    border-radius:5px;
    

}

img:hover{
    width: 200%;
    transition: 1s ease-in-out;
    
}

footer{
    display:flex;
    flex-wrap: wrap;
}

input{
    width: 70%;
}

.seleccionarCategorias{
    margin: 50px;
    
}

.seleccionarCategorias option{
    font-size: 25px;
}
